[submodule "template-project"]
	path = template-project
	url = https://github.com/SalvaChiLlo/template-express-sequelize-project.git
[submodule "example-job"]
	path = example-job
	url = https://github.com/SalvaChiLlo/jobCC.git